<% if current_user.admin || comment.user == current_user %>
  <p class='<%= "comment-#{comment.id}" %>'><strong><%= comment.user.email.split('@')[0] %></strong> - <%= comment.content %> <%= link_to 'delete', comment_path(comment), method: :delete, remote: true %></p>
<% else %>
  <p><strong><%= comment.user.email.split('@')[0] %></strong> - <%= comment.content %></p>
<% end %>
