<div class="banner" style="background-image: url('https://www.actugaming.net/wp-content/uploads/2018/10/red-dead-2-1.jpg');"></div>

<div class="container">
  <div class="posts-wrapper">
    <% @posts.each do |post| %>
      <%= link_to post_path(post) do %>
        <div class="post-card grow">
          <div class="post-photo" style="background-image: url(<%= post.photo %>);"></div>
          <div class="post-title-n-content">
            <h2><%= post.title %></h2>
            <p><%= post.content.split(' ').first(50).join(' ') %></p>
            <span><%= time_ago_in_words(post.created_at) %> || <%= post.comments.count %> Comments</span>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
