<div class="banner" style="background-image: url('https://blog.eu.playstation.com/files/2018/10/RDR2-2.jpg');"></div>

<div class="container">
  <div class="posts-wrapper">
    <% if @posts.empty? %>
      <h4>No Results</h4>
    <% else %>
      <% @posts.each do |post| %>
        <%= link_to post_path(post) do %>
          <div class="post-card grow">
            <div class="post-photo" style="background-image: url(<%= post.photo %>);"></div>
            <div class="post-title-n-content">
              <h2><%= post.title %></h2>
              <p><%= post.content.split(' ').first(50).join(' ') %></p>
              <span>Posted by <strong><%= post.user.email.split('@')[0] %></strong></span>
              <span><%= time_ago_in_words(post.created_at) %> ago || <%= post.comments.count %> Comments</span>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

</div>

<%= render 'shared/footer' %>
