<div class="banner" style="background-image: url('<%= @post.photo %>');"></div>
<div class="container">
  <div class="post-wrapper">
    <h2><%= @post.title %></h2>
    <br>
    <p><%= @post.content %></p>
  </div>
  <% if current_user.admin %>
    <%= link_to 'delete', post_path, method: :delete  %>
  <% end %>

  <br>
  <% if @post.comments.any? %>
  <h3>Comments section</h3>
  <% end %>
  <div class="comments-wrapper">
    <ul class="list-unstyled">
      <% @post.comments.each do |comment| %>
        <% if comment.user == current_user || current_user.admin %>
          <li> <strong><%= comment.user.email.split('@')[0] %></strong> - <%= comment.content %> <%= link_to 'delete', post_comment_path(comment), method: :delete  %></li>
        <% else %>
          <li> <strong><%= comment.user.email.split('@')[0] %></strong> - <%= comment.content %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <h2>Leave a comment</h2>
  <%= simple_form_for [@post, @comment] do |f| %>
    <%= f.input :title %>
    <%= f.input :content %>
    <%= f.submit "send", class: "btn btn-primary" %>
  <% end %>
  <br>
</div>
