<div class="banner" style="background-image: url('<%= @post.photo %>');"></div>

<div class="container">
  <div class="post-wrapper">
    <h2><%= @post.title %></h2>
    <br>
    <p><%= @post.content %></p>
  </div>

  <% if current_user %>
    <% if current_user.admin %>
      <%= link_to 'delete', post_path(@post), method: :delete, class: 'btn btn-default'  %>
      <%= link_to 'edit', edit_post_path(@post), class: 'btn btn-default'  %>
    <% end %>
  <% end %>

  <br>

  <div id="comments">
    <h2>Comments Section</h2>
    <% if @post.comments.blank? %>
      <div id="be-the-first">Be the first to leave a comment</div>
    <% else %>
      <ul class="list-unstyled">
        <% @post.comments.each do |comment| %>
          <li><%= render 'comments/show', comment: comment %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <% if current_user %>
    <h2>Leave a comment</h2>
    <%= render 'comments/form', post: @post, comment: @comment %>
  <% else %>
    <%= link_to 'Login to leave a comment', new_user_session_path %>
  <% end %>
  <br>
  <br>
</div>
